.not-found {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found h1 {
    font-weight: 600;
}

.not-found a {
    text-decoration: none;
}

.not-found a:hover {
    text-decoration: underline;
}
